@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --blackish: #222222;
    --black: #000000;
    --white: #ffffff;
    --green: #3DE07E;
    --red: #E83F57;
    --grey: #333333;
    --red-transparent: #ED363633;

    --font-roboto: "Roboto", sans-serif;
    --font-fira: "Fira Sans", sans-serif;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: var(--font-fira);
}

/* BASE STYLING */

.wrapper {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
}

.button {
    background-color: var(--red);
    color: var(--white);
    padding: .5rem 1rem;
    font-weight: 700;
    font-size: .75rem;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    align-self: flex-start;
}


/* Header */
.header {
    width: 100%;
    aspect-ratio: 2 / 1;
    background-color: var(--green);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    .burger {
        align-self: flex-start;
        padding: 2rem;

        .burger__box {
            display: none;
        }

        .burger__btn {
            width: 2rem;
            aspect-ratio: 1;
            display: flex;
            justify-content: center;
            align-items: center;
            z-index: 99;
            cursor: pointer;
            position: fixed;
        }

        .burger__btn > span,
        .burger__btn > span::before,
        .burger__btn > span::after {
            width: 100%;
            height: 2px;
            background-color: var(--black);
            position: absolute;
            transition: all .3s ease;
        }

        .burger__btn > span::before {
            content: '';
            top: -8px;
        }

        .burger__btn > span::after {
            content: '';
            top: 8px;
        }

        .burger__box:checked ~ .burger__btn > span {
            transform: rotate(45deg);
        }

        .burger__box:checked ~ .burger__btn > span::before {
            top: 0;
        }

        .burger__box:checked ~ .burger__btn > span::after {
            top: 0;
            transform: rotate(90deg);
        }

        .burger__navigation {
            background-color: var(--white);
            top: 0;
            left: 0;
            position: fixed;
            width: 375px;
            height: 100vh;
            padding-top: 5rem;
            display: flex;
            flex-direction: column;
            transform: translateX(-100%);
            transition: all .3s ease;

            .burger__link {
                padding: 1rem;
                border-top: 1px solid var(--black);
                text-decoration: none;
                color: var(--black);
                transition: all .3s ease;
                transform: translateX(-100%);
                opacity: 0;
            }

            .burger__link:hover {
                background-color: var(--black);
                color: var(--white);
            }

            .burger__link:last-child {
                border-bottom: 1px solid var(--black);
            }

            .burger__link:nth-child(1) {
                transition-delay: 0.2s;
            }

            .burger__link:nth-child(2) {
                transition-delay: 0.4s;
            }

            .burger__link:nth-child(3) {
                transition-delay: 0.6s;
            }

            .burger__link:nth-child(4) {
                transition-delay: 0.8s;
            }

        }
        
        .burger__box:checked ~ .burger__navigation {
            transform: translateX(0);
            .burger__link {
                transform: translateX(0);
                opacity: 1;
            }
        }


    }

    .header__title {
        font-size: 6rem;
        color: var(--blackish);
    }

    .header__ninja-head {
        width: 20%;
    }
}

/* Main Container */
.main-container {
    background-color: var(--black);
    padding: 100px 0;

    .wrapper--home {
        display: grid;
        /* grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); */
        grid-template-columns: repeat(6, 1fr);
        gap: 2rem;

        .card {
            grid-column: auto / span 2;
            color: var(--white);
            display: flex;
            flex-direction: column;
            gap: 1rem;

            .card__image {
                width: 100%;
                aspect-ratio: 1;
            }

            .card__title {
                font-size: 2rem;
            }

            .card__description {
                font-weight: 300;
                line-height: 1.5rem;
            }

            .card__content {
                display: flex;
                gap: 1rem;
                padding: 1rem;
                flex-direction: column;
            }
        }

        .card--big {
            grid-column: auto / span 3;
            background-color: var(--white);
            color: var(--blackish)
        }
    }
}

/* Footer */
.footer {
    background-color: var(--grey);
    color: var(--white);
    padding: 6rem 0;

    .footer__links {
        display: flex;

        .footer__navigation, .footer__address, .footer__social {
            flex: 1;
            display: flex;
            flex-direction: column;
            gap: .5rem;

            .footer__link {
                color: var(--white);
                text-decoration: none;
            }
        }

        .footer__social {
            flex: 1;

            .footer__icons {
                display: flex;
                gap: 1rem;
            }
        }
    }
}

@media screen and (max-width: 1000px) {
    .wrapper {
        padding: 0 1rem;
    }
}

@media screen and (max-width: 750px) {
    .main-container {
        .wrapper--home {
            .card {
                grid-column: auto / span 3;
            }

            .card--big {
                grid-column: auto / span 6;
            }
        }
    }
}

@media screen and (max-width: 550px) {
    .header {
        .header__title {
            font-size: 3rem;
        }
    }

    .main-container {
        .wrapper--home {
            .card {
                grid-column: auto / span 6;
            }
        }
    }

    .footer {
        padding: 2rem 0;
        .footer__links {
            flex-direction: column;
            /* text-align: center; */
            gap: 1rem;
        }
    }
}





